<!--<div id="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas congue gravida. Cras semper lacus
    in elit sagittis, nec porta nibh posuere. Phasellus consectetur tempus pharetra. In aliquet pellentesque risus, vel
    posuere lacus vulputate vitae. Nulla laoreet orci ac tellus aliquam, et mattis odio suscipit.
</div>-->

<ul class="cbp-rfgrid">
    <li>
        <a ui-sref="feedback">
            <img src="resources/images/feedback.png"/>
            <div>
                <h3>Feedback</h3>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="latestLogs">
            <img src="resources/images/latest_logs.png"/>
            <div>
                <h3>Latest events</h3>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="settings">
            <img src="resources/images/settings.png"/>
            <div>
                <h3>Settings</h3>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="organizations">
            <img src="resources/images/organization.png"/>
            <div>
                <h3>Organizations</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="resources/images/transparent.png"/>
            <div>
                <h3>Add rule</h3>
            </div>
        </a>
    </li>
    <li>
        <a ng-click="refresh()">
            <img src="resources/images/refresh.png"/>
            <div>
                <h3>Refresh</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="resources/images/transparent.png"/>
            <div>
                <h3>Add rule</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="resources/images/transparent.png"/>
            <div>
                <h3>Add rule</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="resources/images/transparent.png"/>
            <div>
                <h3>Add rule</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="resources/images/transparent.png"/>
            <div>
                <h3>Add rule</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="resources/images/transparent.png"/>
            <div>
                <h3>Add rule</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#" ng-click="logout()">
            <img src="resources/images/logout.png"/>
            <div>
                <h3>Logout</h3>
            </div>
        </a>
    </li>
</ul>
